@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.next{
  color: white;
  max-width: 700px;
  height: 50px;
  width: 100%;
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
  border: none;
  text-align: center;
}

.login-register-text {
  color: #111;
}

.login-register-text a {
  text-decoration: none;
  color: #6c5ce7;
}


.textcolor{
  color: #71b7e6;
}
input{
    background: linear-gradient(#9b59b6);
}
body{
  text-decoration: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #2C2F33;
}
.container{
  margin: 10px;
  max-width: 700px;
  width: 100%;
  background-color: #484b50;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.content form .user-details2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details2 .input-box2{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details2 .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .input-box2{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box2 span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details2 .input-box2 input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 10px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details2 .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 10px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box2 input{
  height: 45px;
  width: 213%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 0px solid #ccc;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 0px solid #ccc;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
}

.user-details .input-box2 input{
 background-color: #202225;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 10px;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
    width: 100%;
   height: 45px;
 }
 .button {
  width: 100%;
  background-color: rgb(24, 24, 24); /* Green */
  border: none;
  color: white;
  border-radius: 10px;
  text-align: center;
}

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box2{
    margin-bottom: 15px;
    width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.none{
  text-decoration: none;
}